/* ModalD.module.css */
.activeModal {
    overflow-y: hidden;
}

.btnModal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

/* .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 500px;
    min-height: 150px;
} */

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border: none;
    font-size: large;

}


/* ModalD.module.css */
.confirmDelete {
    background-color: #1B48DA;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
    width: 100px;
  }
  
  .confirmDelete:hover {
    background-color: darkred;
  }
  

  .confirmNo {
    background-color: #e0e0e0;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
    width: 60px; /* Adjust this value as needed */
    text-align: center;
    width: 100px;

}

.confirmNo:hover {
    background-color: #6f6d6d;
}


.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3;
    background: #f1f1f1;
    padding: 20px 28px;
    border-radius: 5px;
    max-width: 600px;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;
}
